<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="<?php echo base_url('Style');?>/skin.css" />
</head>
    <body>
    <div id="search">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <!-- 头部开始 -->
            <tr>
                <td width="17" valign="top" background="<?php echo base_url('Images');?>/mail_left_bg.gif">
                    <img src="<?php echo base_url('Images');?>/left_top_right.gif" width="17" height="29" />
                </td>
                <td valign="top" background="<?php echo base_url('Images');?>/content_bg.gif">
                    <table width="100%" height="31" border="0" cellpadding="0" cellspacing="0" background="<?php echo base_url('Images');?>/content_bg.gif">
                        <tr><td height="31"><div class="title">添加栏目</div></td></tr>
                    </table>
                </td>
                <td width="16" valign="top" background="<?php echo base_url('Images');?>/mail_right_bg.gif"><img src="<?php echo base_url('Images');?>/nav_right_bg.gif" width="16" height="29" /></td>
            </tr>
            <!-- 中间部分开始 -->
            <tr>
                <!--第一行左边框-->
                <td valign="middle" background="<?php echo base_url('Images');?>/mail_left_bg.gif">&nbsp;</td>
                <!--第一行中间内容-->
                <td valign="top" bgcolor="#F7F8F9">
                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                        <!-- 空白行-->
                        <tr><td colspan="2" valign="top">&nbsp;</td><td>&nbsp;</td><td valign="top">&nbsp;</td></tr>
                        <tr>
                            <td colspan="4">
                                <table>
                                    <tr>
                                        <td width="100" align="center"><img src="<?php echo base_url('Images');?>/mime.gif" /></td>
                                        <td valign="bottom"><h3 style="letter-spacing:1px;">在这里，您可以根据您的需求，填写网站参数！</h3></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <!-- 一条线 -->
                        <tr>
                            <td height="40" colspan="4">
                                <table width="100%" height="1" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
                                    <tr><td></td></tr>
                                </table>
                            </td>
                        </tr>
                        <!-- 产品列表开始 -->
                        <tr>
                            <td width="2%">&nbsp;</td>
                            <td width="96%">
                    
                            <!-- 搜索+分页 -->
                            <center style='margin-bottom:20px;'><input type="text" id="user_name" value="<?php echo $user_name;?>" style='height:23px;' />　<input type="button" value="搜索客户" onclick="page(1)" /></center>


                                <table width="100%">
                                    <tr>
                                        <td colspan="2">
                                            <form action="" method="">
                                                <table width="100%"  class="cont tr_color">
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>评论客户</th>
                                                        <th>评论商品</th>
                                                        <th>晒单图片</th>
                                                        <th>评论内容</th>
                                                        <th>评论时间</th>
                                                        <th>操作</th>
                                                    </tr>
                                                    <?php foreach($show as $v){?>
                                                    <tr align="center" class="d">
                                                        <td><?php echo $v['show_id'];?></td>
                                                        <td><?php echo $v['user_name'];?></td>
                                                        <td><?php echo $v['goods_name'];?></td>
                                                        <td><img src="<?php echo base_url('public/show').'/'.$v['show_img'];?>" style='height:60px;width:60px;' /></td>
                                                        <td><?php echo $v['show_content'];?></td>
                                                        <td><?php echo $v['show_time'];?></td>
                                                        <td><a href="<?php echo site_url('Show/show_delete/'.$v['show_id']);?>">删除</a>　<a href="<?php echo site_url('Show/show_st/'.$v['show_id']);?>">
                                                        <?php if($v['show_status']==0){
                                                            echo "<font color='red'>未审核</font>";
                                                            }else{
                                                            echo "<font color='green'>已审核</font>";   
                                                                }?>
                                                        </a></td>
                                                    </tr>
                                                    <?php }?>
                                                    </tr>
                                                </table>
                                            <center style='margin-top:20px;'><?php echo $str;?></center>
                                            </form>
                                        </td>
                                    </tr>
                                </table>
                               
                            </td>
                            <td width="2%">&nbsp;</td>
                        </tr>
                        <!-- 产品列表结束 -->
                        <tr>
                            <td height="40" colspan="4">
                                <table width="100%" height="1" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
                                    <tr><td></td></tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="2%">&nbsp;</td>
                            <td width="51%" class="left_txt">
                                <img src="<?php echo base_url('Images');?>/icon_mail.gif" width="16" height="11"> 客户服务邮箱：rainman@foxmail.com<br />
                                <img src="<?php echo base_url('Images');?>/icon_phone.gif" width="17" height="14"> 官方网站：<a href="http://www.mycodes.net/" target="_blank">源码之家</a>
                            </td>
                            <td>&nbsp;</td><td>&nbsp;</td>
                        </tr>
                    </table>
                </td>
                <td background="<?php echo base_url('Images');?>/mail_right_bg.gif">&nbsp;</td>
            </tr>
            <!-- 底部部分 -->
            <tr>
                <td valign="bottom" background="<?php echo base_url('Images');?>/mail_left_bg.gif">
                    <img src="<?php echo base_url('Images');?>/buttom_left.gif" width="17" height="17" />
                </td>
                <td background="<?php echo base_url('Images');?>/buttom_bgs.gif">
                    <img src="<?php echo base_url('Images');?>/buttom_bgs.gif" width="17" height="17">
                </td>
                <td valign="bottom" background="<?php echo base_url('Images');?>/mail_right_bg.gif">
                    <img src="<?php echo base_url('Images');?>/buttom_right.gif" width="16" height="17" />
                </td>           
            </tr>
        </table>
         </div>
    </body>
</html>

<script src="<?php echo base_url('Js/jquery.js');?>"></script>
<script>
   function page(page){
    user_name=$('#user_name').val();
    //alert(user_name)
    data={'page':page,'user_name':user_name}
    url="<?php echo site_url('Show/show_list');?>";
    $.get(url,data,function(msg){
        //alert(msg);
        $('#search').html(msg);
    });
   } 
</script>