<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="<?php echo base_url('Style/skin.css')?>" />
</head>
    <body>
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <!-- 头部开始 -->
            <tr>
                <td width="17" valign="top" background="<?php echo base_url('Images/mail_left_bg.gif')?>">
                    <img src="<?php echo base_url('Images/left_top_right.gif')?>" width="17" height="29" />
                </td>
                <td valign="top" background="<?php echo base_url('Images/content_bg.gif')?>">
                    <table width="100%" height="31" border="0" cellpadding="0" cellspacing="0" background="<?php echo base_url('Images/content_bg.gif')?>">
                        <tr><td height="31"><div class="title">添加栏目</div></td></tr>
                    </table>
                </td>
                <td width="16" valign="top" background="<?php echo base_url('Images/mail_right_bg.gif')?>"><img src="<?php echo base_url('Images/nav_right_bg.gif')?>" width="16" height="29" /></td>
            </tr>
            <!-- 中间部分开始 -->
            <tr>
                <!--第一行左边框-->
                <td valign="middle" background="<?php echo base_url('Images/mail_left_bg.gif')?>">&nbsp;</td>
                <!--第一行中间内容-->
                <td valign="top" bgcolor="#F7F8F9">
                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                        <!-- 空白行-->
                        <tr><td colspan="2" valign="top">&nbsp;</td><td>&nbsp;</td><td valign="top">&nbsp;</td></tr>
                        <tr>
                            <td colspan="4">
                                <table>
                                    <tr>
                                        <td width="100" align="center"><img src="<?php echo base_url('Images/mime.gif')?>" /></td>
                                        <td valign="bottom"><h3 style="letter-spacing:1px;">在这里，您可以增加相关商品！</h3></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <!-- 一条线 -->
                        <tr>
                            <td height="40" colspan="4">
                                <table width="100%" height="1" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
                                    <tr><td></td></tr>
                                </table>
                            </td>
                        </tr>
                        <!-- 添加栏目开始 -->
                        <tr>
                            <td width="2%">&nbsp;</td>
                            <td width="96%">
                                <table width="100%">
                                    <tr>
                                        <td colspan="2">
                                            <form action="<?php echo site_url('User/g_add')?>" method="post" enctype="multipart/form-data">
                                                <table width="100%" class="cont">
                                                    <tr>
                                                        <td width="2%">&nbsp;</td>
                                                        <td>商品名称：</td>
                                                        <td width="20%"><input class="text" type="text" name="goods_name" value="" required="required"/></td>
                                                        <td>设置商品名称<span class="goods_name" style="color: red;display:none" >&nbsp&nbsp*商品名称不能为空!</span></td>
                                                        <td width="2%">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>&nbsp;</td>
                                                        <td>商品封面：</td>
                                                        <td>
                                                            <input class="text" type="file" name="goods_img" />
                                                        </td>
                                                        <td>设置商品封面<span class="goods_img" style="color: red;display:none">&nbsp&nbsp*商品货号不能为空!</span></td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>&nbsp;</td>
                                                        <td>商品价格：</td>
                                                        <td>
                                                            <input id="price" type="text" name="goods_price" value="" />
                                                        </td>
                                                        <td>本商品上架价格<span class="goods_price" style="color: red;display:none">&nbsp&nbsp*商品价格不能为空!</span></td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>&nbsp;</td>
                                                        <td>商品类型：</td>
                                                        <td>
                                                            <select name="type_name" >
                                                                <?php foreach($arr as $v){?>
                                                                <option value="<?php echo $v['type_id']?>"><?php echo $v['type_name']?></option>
                                                                <?php } ?>
                                                            </select>
                                                        </td>
                                                        <td>设置该商品在网页当中显示分类<span class="g_sort" style="color: red;display:none">&nbsp&nbsp*商品排序不能为空!</span></td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>&nbsp;</td>
                                                        <td>商品描述：</td>
                                                        <td>
                                                            <textarea rows="50" cols="50" name="goods_desc"></textarea>
                                                        </td>
                                                        <td>设置商品描述<span class="goods_desc"  style="color: red;display:none
                                                        ">&nbsp&nbsp*商品描述不能为空!</span></td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>&nbsp;</td>
                                                        <td>商品是否上架：</td>
                                                        <td>
                                                            <input type="radio" name="goods_status" checked value="1" /> 上架
                                                            <input type="radio" name="goods_status" value="0" /> 下架
                                                        </td>
                                                        <td>设置商品是否在商城中开卖</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>&nbsp;</td>
                                                        <td>区间分类：</td>
                                                        <td>
                                                            <select onchange="changes()" name="price_name" id="price_s" >
                                                                <option>请选择</option>
                                                                <?php foreach($re as $v){?>
                                                                <option value="<?php echo $v['price_id']?>"><?php echo $v['price_name']?></option>
                                                                <?php } ?>
                                                            </select>
                                                        </td>
                                                        <td>在商城中区间显示</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                    <td>&nbsp;</td>
                                                    <td>商品抢购人次：</td>
                                                    <td>
                                                        <input type="text" id="cishu"  name="goods_people" disabled>
                                                    </td>
                                                    <td>在商城中抢购人次显示</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                    <tr>
                                                        <td>&nbsp;</td>
                                                        <td colspan="3"><input class="btn" type="submit" value="提交" /></td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                </table>
                                            </form>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td width="2%">&nbsp;</td>
                        </tr>
                        <!-- 添加栏目结束 -->
                        <tr>
                            <td height="40" colspan="4">
                                <table width="100%" height="1" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
                                    <tr><td></td></tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="2%">&nbsp;</td>
                            <td width="51%" class="left_txt">
                                <img src="<?php echo base_url('Images/icon_mail.gif')?>" width="16" height="11"> 客户服务邮箱：rainman@foxmail.com<br />
                                <img src="<?php echo base_url('Images/icon_phone.gif')?>" width="17" height="14"> 官方网站：<a href="http://www.mycodes.net/" target="_blank">源码之家</a>
                            </td>
                            <td>&nbsp;</td><td>&nbsp;</td>
                        </tr>
                    </table>
                </td>
                <td background="<?php echo base_url('Images/mail_right_bg.gif')?>">&nbsp;</td>
            </tr>
            <!-- 底部部分 -->
            <tr>
                <td valign="bottom" background="<?php echo base_url('Images/mail_left_bg.gif')?>">
                    <img src="<?php echo base_url('Images/buttom_left.gif')?>" width="17" height="17" />
                </td>
                <td background="<?php echo base_url('Images/buttom_bgs.gif')?>">
                    <img src="<?php echo base_url('Images/buttom_bgs.gif')?>" width="17" height="17">
                </td>
                <td valign="bottom" background="<?php echo base_url('Images/mail_right_bg.gif')?>">
                    <img src="<?php echo base_url('Images/buttom_right.gif')?>" width="16" height="17" />
                </td>           
            </tr>
        </table>
        <script src="<?php echo base_url('public/jquery-2.1.4.min.js')?>"></script>
        <script>
            function changes(){
                var price=$("#price").val();
                var price_s=$("#price_s").val();
                if(price_s=="1"){
                    $("#cishu").attr("value",price)
                }else if(price_s=="2"){
                    $("#cishu").attr("value",price/10)
                }else if(price_s=="3"){
                    $("#cishu").attr("value",price/100)
                }else{
                    $("#cishu").attr("value","")
                }
            }
        </script>
    </body>
</html>