<html>
	<meta charset='utf-8'/>
	<body style="margin-left:300px"><br />
		<form method="post" action="index.php?r=user/content_add">
		<table>
			<tr>
				<td>商品名称：</td>
				<td><input type='text' name='goods_name' id='goods_name' ></td>
			</tr>
			<tr>
				<td>商品图片：</td>
				<td><input type='text' name='goods_name' id='goods_name' ></td>
			</tr>
			<tr>
				<td>商品名称：</td>
				<td><input type='text' name='goods_name' id='goods_name' ></td>
			</tr>
			<tr>
				<td>商品名称：</td>
				<td><input type='text' name='goods_name' id='goods_name' ></td>
			</tr>
		</table>
		</form>
	</body>
</html>