<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords"
	content="123快购,一元夺宝,一元云购,快购网" />
<meta name="description"
	content="123快购是实现用户支付1元，就有机会获得商品的互联网众筹购物平台。一元即可享受超值商品！一元夺宝、一元云购物超所值。玩法简单，任何顾客花费一元都可参与夺宝；公平、公开、公正，并负责商品配送、安装等售后服务。所有商品由京东、天猫或正规品牌供应商供货！一元精品，等你来夺。" />
<meta property="qc:admins" content="6347773047612337636" />
<title>一元夺宝,一元夺宝平台!一元秒杀抢购-123快购电子商务</title>
<link href="./favicon.ico" type="image/x-icon" rel="shortcut icon">
	<link href="./favicon.ico" type="image/x-icon" rel="icon">
		<link rel="stylesheet" type="text/css"
			href="__PUBLIC__/statics/templates/yungoucms/css/headerindex.css-date=20140731.css" tppabs="http://www.123kg.cn/statics/templates/yungoucms/css/headerindex.css?date=20140731" />
		<!--[if IE 6]>
       <script type="text/javascript" src="__PUBLIC__/statics/plugin/style/js/iepng.js" tppabs="http://www.123kg.cn/statics/plugin/style/js/iepng.js"></script>
       <script type="text/javascript">
       EvPNG.fix('.search a.seaIcon i,.m-menu-all h3 em,.nav-cart-btn i.f-cart-icon,a.u-cart s,.u-mui-tab a.u-menus s,.u-mui-tab li.f-cart a.u-menus i,.u-mui-tab li.f-both-top a.u-menus,.u-mui-tab li.f-both-bottom a.u-menus,.F_goods_rq, .F_goods_xp, .F_goods_tj,.i-ctrl a s,.g-list li cite,.f-list-sorts li.m-value s');
       </script>
   <![endif]-->
		<link rel="stylesheet" type="text/css"
			href="__PUBLIC__/statics/templates/yungoucms/css/Index2.css-date=20140731.css" tppabs="http://www.123kg.cn/statics/templates/yungoucms/css/Index2.css?date=20140731">
			<link rel="stylesheet" type="text/css"
				href="__PUBLIC__/statics/templates/yungoucms/css/Comm1.css-date=20140731.css" tppabs="http://www.123kg.cn/statics/templates/yungoucms/css/Comm1.css?date=20140731">
				<script type="text/javascript"
					src="__PUBLIC__/statics/plugin/style/global/js/jquery-1.8.3.min.js" tppabs="http://www.123kg.cn/statics/plugin/style/global/js/jquery-1.8.3.min.js"></script>
				<script type="text/javascript"
					src="__PUBLIC__/statics/templates/yungoucms/js/jquery.cookie.js" tppabs="http://www.123kg.cn/statics/templates/yungoucms/js/jquery.cookie.js"></script>
				<!-- 123kg.cn Baidu tongji analytics -->
				<script>
					var _hmt = _hmt || [];
					(function() {
						var hm = document.createElement("script");
						hm.src = "../hm.baidu.com/hm.js-2b4b5b636ef197d0102895dc999c07be"/*tpa=http://hm.baidu.com/hm.js?2b4b5b636ef197d0102895dc999c07be*/;
						var s = document.getElementsByTagName("script")[0];
						s.parentNode.insertBefore(hm, s);
					})();
				</script>
</head>
<body id="loadingPicBlock" class="home" rf="1">
	<div class="wrapper">
		<!--头部-->
		<!--顶部-->
		<div class="g-toolbar">
			<div class="w1190">
				<ul class="fl">
					<li>
						<div class="u-menu-hd">
							<a id="addSiteFavorite" href="__URL__/index" tppabs="http://www.123kg.cn/" title="123快购首页">123快购首页</a>
						</div>
					</li>
					<li class="f-gap"><s></s></li>
					<li>
						<div class="u-menu-hd">
							<a href="javascript:if(confirm('http://v.qq.com/vplus/1efb6a69b988e29dee34a4e73a803f62  \n\nكτݾϞרԃ Teleport Ultra Ђ՘, ӲΪ ̼ˇһٶԲܲ·޶΢ҿѻʨ׃Ϊ̼քǴʼַ֘քַ֘c  \n\nţЫ՚ؾϱǷʏղߪ̼?'))window.location='http://v.qq.com/vplus/1efb6a69b988e29dee34a4e73a803f62'" tppabs="http://v.qq.com/vplus/1efb6a69b988e29dee34a4e73a803f62"><img
								style="width: 100px; height: 20px;"
								src="__PUBLIC__/statics/templates/yungoucms/images/SZSTV_logo.png" tppabs="http://www.123kg.cn/statics/templates/yungoucms/images/SZSTV_logo.png"></a>
						</div>
					</li>
					<li class="f-gap"><s></s></li>
					<li id="liMobile" class="u-arr">
						<div class="u-menu-hd">
							<a href="" title="微信"
								style="background: url(http://www.123kg.cn/statics/templates/yungoucms/images/weixinico.png) no-repeat; padding-left: 19px;">关注请扫我</a>
							<div class="f-top-arrow">
								<cite>◆</cite><b>◆</b>
							</div>
						</div>
						<div class="u-select u-select-weix" style="width: 110px;">
							<p>
								<a href=""> <img src="__PUBLIC__/statics/uploads/banner/wx.jpg" tppabs="http://www.123kg.cn/statics/uploads/banner/wx.jpg" />
								</a>
							</p>
						</div>
					</li>
				</ul>
				<ul id="ulTopRight" class="fr">
										<li id="logininfo">
						<div class="u-menu-hd">
							<a title="登录" href="__URL__/login" tppabs="http://www.123kg.cn/login">马上登录</a>
						</div>
					</li>
					<li class="f-gap"><s></s></li>
					<li>
						<div class="u-menu-hd">
							<img
								src="__PUBLIC__/statics/templates/yungoucms/images/hb-icon.png" tppabs="http://www.123kg.cn/statics/templates/yungoucms/images/hb-icon.png"
								alt="红包"
								style="display: block; width: 20px; height: 25px; float: left; margin-top: -4px; margin-right: 5px;" />
							<a title="注册" href="__URL__/register" tppabs="http://www.123kg.cn/register" style="color: #db3652">免费注册</a>
						</div>
					</li>
					<li class="f-gap"><s></s></li>					<li id="liMember" class="u-arr">
						<div class="u-menu-hd">
							<a href="member/home.htm" tppabs="http://www.123kg.cn/member/home">我的快购</a>
							<div class="f-top-arrow">
								<cite>◆</cite><b>◆</b>
							</div>
						</div>
						<div class="u-select u-select-my">
							<span><a href="__URL__/userbuylist" tppabs="http://www.123kg.cn/member/home/userbuylist"
								title="购买记录">快购记录</a></span> <span><a
								href="member/home/orderlist.htm" tppabs="http://www.123kg.cn/member/home/orderlist" title="获得的商品">获得商品</a></span> <span><a
								href="member/home/modify.htm" tppabs="http://www.123kg.cn/member/home/modify" title="个人设置">个人设置</a></span> <span><a
								href="member/home/userrecharge.htm" tppabs="http://www.123kg.cn/member/home/userrecharge" title="立即充值">立即充值</a></span>
						</div>
					</li>
					<li class="f-gap"><s></s></li>
					<li>
						<div class="u-menu-hd">
							<a href="__URL__/help" tppabs="http://www.123kg.cn/help/1.html" title="帮助">常见问题</a>
						</div>
					</li>
					<li class="f-gap"><s></s></li>
					<li id="liTopUMsg" class="u-arr">
						<div class="u-menu-hd">
							<a id="btnTopQQ" title="在线客服" class="u-service-off u-service"><i></i>在线客服</a>
						</div>
						<div class="u-select u-select-my"
							style="width: 94px; height: 80px;">
							<span><a
								href="javascript:if(confirm('http://wpa.qq.com/msgrd?v=3&uin=1357991441&site=qq&menu=yes  \n\nكτݾϞרԃ Teleport Ultra Ђ՘, ӲΪ ̼ˇһٶԲܲ·޶΢ҿѻʨ׃Ϊ̼քǴʼַ֘քַ֘c  \n\nţЫ՚ؾϱǷʏղߪ̼?'))window.location='http://wpa.qq.com/msgrd?v=3&uin=1357991441&site=qq&menu=yes'" tppabs="http://wpa.qq.com/msgrd?v=3&uin=1357991441&site=qq&menu=yes"
								title="客服-元元">客服-元元</a></span> <span><a
								href="javascript:if(confirm('http://wpa.qq.com/msgrd?v=3&uin=3114176893&site=qq&menu=yes  \n\nكτݾϞרԃ Teleport Ultra Ђ՘, ӲΪ ̼ˇһٶԲܲ·޶΢ҿѻʨ׃Ϊ̼քǴʼַ֘քַ֘c  \n\nţЫ՚ؾϱǷʏղߪ̼?'))window.location='http://wpa.qq.com/msgrd?v=3&uin=3114176893&site=qq&menu=yes'" tppabs="http://wpa.qq.com/msgrd?v=3&uin=3114176893&site=qq&menu=yes"
								title="客服-贝贝">客服-贝贝</a></span> <span><a
								href="javascript:if(confirm('http://wpa.qq.com/msgrd?v=3&uin=3114176893&site=qq&menu=yes  \n\nكτݾϞרԃ Teleport Ultra Ђ՘, ӲΪ ̼ˇһٶԲܲ·޶΢ҿѻʨ׃Ϊ̼քǴʼַ֘քַ֘c  \n\nţЫ՚ؾϱǷʏղߪ̼?'))window.location='http://wpa.qq.com/msgrd?v=3&uin=3114176893&site=qq&menu=yes'" tppabs="http://wpa.qq.com/msgrd?v=3&uin=3114176893&site=qq&menu=yes"
								title="商务合作">商务合作</a></span>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!--头部-->
		<div class="g-header">
			<div class="w1190">
				<div id="topLogoAd" class="logo_1yyg fl">
					<a class="logo" href="index.htm" tppabs="http://www.123kg.cn/"
						title="一元夺宝,一元夺宝平台!一元秒杀抢购-123快购电子商务"> <img
						src="__PUBLIC__/statics/uploads/banner/20150818/57061362890427.jpg" tppabs="http://www.123kg.cn/statics/uploads/banner/20150818/57061362890427.jpg" />
					</a>
				</div>
				<div class="search_cart_wrap fr">
					<!-- 					<div class="number">
						<a href="http://www.123kg.cn/buyrecord" target="_blank">
							<ul id="ulHTotalBuy">
								<li class="nobor gray6" style="width: 56px;">累计参与</li>
								<li class="num" style="display: none;"><cite><em>0</em></cite><i></i></li>
								<li class="num"><cite><em>0</em></cite><i></i></li>
								<li class="num"><cite><em>0</em></cite><i></i></li>
								<li class="nobor">,</li>
								<li class="num"><cite><em>0</em></cite><i></i></li>
								<li class="num"><cite><em>0</em></cite><i></i></li>
								<li class="num"><cite><em>0</em></cite><i></i></li>
								<li class="nobor">,</li>
								<li class="num"><cite><em>0</em></cite><i></i></li>
								<li class="num"><cite><em>0</em></cite><i></i></li>
								<li class="num"><cite><em>0</em></cite><i></i></li>
								<li class="nobor gray6 u-secondary">人次<b><s></s></b></li>
							</ul>
						</a>
					</div> -->
<!--					<div class="search">
						<div class="form">
							<input id="txtSearch" type="text" value="" 输入手机试试"" /> <span>
								<a href="http://www.123kg.cn/s_tag/苹果" target="_blank">苹果</a> <a
								href="http://www.123kg.cn/s_tag/电脑" target="_blank">电脑</a> <a
								href="http://www.123kg.cn/s_tag/手机" target="_blank">手机</a>
							</span>
						</div>
						<a id="butSearch" href="javascript:;" class="seaIcon"><i></i></a>
					</div>-->
				</div>
				<div style="position: absolute; top: 10px; left: 210px;">
					<!---<img src="http://www.123kg.cn/statics/templates/yungoucms/images/stu.jpg">--->
				</div>
			</div>
		</div>
		<!--导航-->
		<div class="g-men"
			style="width: 100%; border-bottom: 3px solid #db3652; position: relative; z-index: 9999;">
			<div class="g-nav" style="position: relative;">
				<div class="hot_h"
					style="width: 20px; height: 18px; position: absolute; top: -1px; left: 558px;">
					<img style="position: absolute;"
						src="__PUBLIC__/statics/templates/yungoucms/images/hots.gif" tppabs="http://www.123kg.cn/statics/templates/yungoucms/images/hots.gif">
				</div>

				<div class="w1190">
					<div id="divGoodsSort" class="m-menu">
						<div class="pullDown">
							<h2 class="pullDownTitle">
								<a href="goods_list/index.html" tppabs="http://www.123kg.cn/goods_list/index.html" class="pullDownTitle">全部商品分类</a>
							</h2>
														<ul class="pullDownList">
																<li><i class="listi1"></i> <a
									href="goods_list/200_0_0.html" tppabs="http://www.123kg.cn/goods_list/200_0_0.html"
									target="_blank">汽车专区</a></li> 								<li><i class="listi2"></i> <a
									href="goods_list/185_0_0.html" tppabs="http://www.123kg.cn/goods_list/185_0_0.html"
									target="_blank">苹果专区</a></li> 								<li><i class="listi3"></i> <a
									href="goods_list/5_0_0.html" tppabs="http://www.123kg.cn/goods_list/5_0_0.html"
									target="_blank">手机数码</a></li> 								<li><i class="listi4"></i> <a
									href="goods_list/75_0_0.html" tppabs="http://www.123kg.cn/goods_list/75_0_0.html"
									target="_blank">代金券类</a></li> 								<li><i class="listi5"></i> <a
									href="goods_list/6_0_0.html" tppabs="http://www.123kg.cn/goods_list/6_0_0.html"
									target="_blank">精品电器</a></li> 								<li><i class="listi6"></i> <a
									href="goods_list/96_0_0.html" tppabs="http://www.123kg.cn/goods_list/96_0_0.html"
									target="_blank">品质生活</a></li> 								<li><i class="listi7"></i> <a
									href="goods_list/182_0_0.html" tppabs="http://www.123kg.cn/goods_list/182_0_0.html"
									target="_blank">中国黄金</a></li> 								<li><i class="listi8"></i> <a
									href="goods_list/168_0_0.html" tppabs="http://www.123kg.cn/goods_list/168_0_0.html"
									target="_blank">食品干货</a></li> 								<li><i class="listi9"></i> <a
									href="goods_list/76_0_0.html" tppabs="http://www.123kg.cn/goods_list/76_0_0.html"
									target="_blank">礼品玩具</a></li> 							</ul>
							<!-- 下拉详细列表具体分类 -->
							<!--
							<div class="yMenuListCon">
																									<div class="yMenuListConin">
									<div class="yMenuLCinList">
										<h3>
											<a href="" class="yListName yLNicon1">汽车专区</a><a href="http://www.123kg.cn/goods_list/200_0_0.html"
												class="yListMore">更多 &gt;</a>
										</h3>
										<p>
																							<a href="http://www.123kg.cn/goods_list/201_0_0.html">奔驰</a>
																							<a href="http://www.123kg.cn/goods_list/202_0_0.html">哈弗</a>
																							<a href="http://www.123kg.cn/goods_list/203_0_0.html">福特</a>
																					</p>
									</div>
								</div>
																									<div class="yMenuListConin">
									<div class="yMenuLCinList">
										<h3>
											<a href="" class="yListName yLNicon2">苹果专区</a><a href="http://www.123kg.cn/goods_list/185_0_0.html"
												class="yListMore">更多 &gt;</a>
										</h3>
										<p>
																							<a href="http://www.123kg.cn/goods_list/191_0_0.html">苹果手机</a>
																							<a href="http://www.123kg.cn/goods_list/192_0_0.html">iPad</a>
																							<a href="http://www.123kg.cn/goods_list/193_0_0.html">Macbook</a>
																							<a href="http://www.123kg.cn/goods_list/195_0_0.html">iWatch</a>
																					</p>
									</div>
								</div>
																									<div class="yMenuListConin">
									<div class="yMenuLCinList">
										<h3>
											<a href="" class="yListName yLNicon3">手机数码</a><a href="http://www.123kg.cn/goods_list/5_0_0.html"
												class="yListMore">更多 &gt;</a>
										</h3>
										<p>
																							<a href="http://www.123kg.cn/goods_list/158_0_0.html">平板与电脑</a>
																							<a href="http://www.123kg.cn/goods_list/186_0_0.html">品牌手机</a>
																							<a href="http://www.123kg.cn/goods_list/188_0_0.html">潮流数码</a>
																					</p>
									</div>
								</div>
																									<div class="yMenuListConin">
									<div class="yMenuLCinList">
										<h3>
											<a href="" class="yListName yLNicon4">代金券类</a><a href="http://www.123kg.cn/goods_list/75_0_0.html"
												class="yListMore">更多 &gt;</a>
										</h3>
										<p>
																							<a href="http://www.123kg.cn/goods_list/93_0_0.html">京东购物卡</a>
																							<a href="http://www.123kg.cn/goods_list/129_0_0.html">爱奇艺会员</a>
																							<a href="http://www.123kg.cn/goods_list/141_0_0.html">手机充值卡</a>
																							<a href="http://www.123kg.cn/goods_list/151_0_0.html">淘宝购物卡</a>
																							<a href="http://www.123kg.cn/goods_list/198_0_0.html">旅行代金券</a>
																							<a href="http://www.123kg.cn/goods_list/199_0_0.html">游戏点卡</a>
																					</p>
									</div>
								</div>
																									<div class="yMenuListConin">
									<div class="yMenuLCinList">
										<h3>
											<a href="" class="yListName yLNicon5">精品电器</a><a href="http://www.123kg.cn/goods_list/6_0_0.html"
												class="yListMore">更多 &gt;</a>
										</h3>
										<p>
																							<a href="http://www.123kg.cn/goods_list/187_0_0.html">厨房电器</a>
																							<a href="http://www.123kg.cn/goods_list/189_0_0.html">生活家电</a>
																							<a href="http://www.123kg.cn/goods_list/190_0_0.html">个护健康</a>
																					</p>
									</div>
								</div>
																									<div class="yMenuListConin">
									<div class="yMenuLCinList">
										<h3>
											<a href="" class="yListName yLNicon6">品质生活</a><a href="http://www.123kg.cn/goods_list/96_0_0.html"
												class="yListMore">更多 &gt;</a>
										</h3>
										<p>
																							<a href="http://www.123kg.cn/goods_list/106_0_0.html">运动与户外</a>
																							<a href="http://www.123kg.cn/goods_list/154_0_0.html">个人护理</a>
																							<a href="http://www.123kg.cn/goods_list/166_0_0.html">家居百货</a>
																							<a href="http://www.123kg.cn/goods_list/167_0_0.html">手表配饰</a>
																					</p>
									</div>
								</div>
																									<div class="yMenuListConin">
									<div class="yMenuLCinList">
										<h3>
											<a href="" class="yListName yLNicon7">中国黄金</a><a href="http://www.123kg.cn/goods_list/182_0_0.html"
												class="yListMore">更多 &gt;</a>
										</h3>
										<p>
																					</p>
									</div>
								</div>
																									<div class="yMenuListConin">
									<div class="yMenuLCinList">
										<h3>
											<a href="" class="yListName yLNicon8">食品干货</a><a href="http://www.123kg.cn/goods_list/168_0_0.html"
												class="yListMore">更多 &gt;</a>
										</h3>
										<p>
																							<a href="http://www.123kg.cn/goods_list/169_0_0.html">粮油米面</a>
																							<a href="http://www.123kg.cn/goods_list/170_0_0.html">酒水饮料</a>
																							<a href="http://www.123kg.cn/goods_list/171_0_0.html">零食糖果</a>
																							<a href="http://www.123kg.cn/goods_list/194_0_0.html">保健礼品</a>
																					</p>
									</div>
								</div>
																									<div class="yMenuListConin">
									<div class="yMenuLCinList">
										<h3>
											<a href="" class="yListName yLNicon9">礼品玩具</a><a href="http://www.123kg.cn/goods_list/76_0_0.html"
												class="yListMore">更多 &gt;</a>
										</h3>
										<p>
																							<a href="http://www.123kg.cn/goods_list/108_0_0.html">儿童电动车</a>
																							<a href="http://www.123kg.cn/goods_list/197_0_0.html">精选礼品</a>
																					</p>
									</div>
								</div>
															</div>
							 -->
						</div>
						<!--左侧展开-->
					</div>
					<div class="nav-main fl" style="position: relative; left: 190px;">
						<ul>
							<li class="f-nav-home"><a href="__URL__/index" tppabs="http://www.123kg.cn/" style="color: #db3652;">首页</a></li>
							<li><a  href="__URL__/newbie" tppabs="http://www.123kg.cn/single/newbie.html">新手指南</a></li><li><a  href="__URL__/goods_lottery" tppabs="http://www.123kg.cn/goods_lottery/index.html">最新揭晓</a></li><li><a  href="__URL__/shaidan" tppabs="http://www.123kg.cn/shaidan/index.html">晒单分享</a></li><li><a  href="__URL__/wish" tppabs="http://www.123kg.cn/wish/index.html">心愿单</a></li>						</ul>
						<div class="weather-card madrid"
							style="position: absolute; top: 13px; left: 442px;">
							<div class="weather-icon sun"></div>
						</div>
					</div>
					<div id="divHCart" class="nav-cart fr">
						<div class="nav-cart-btn">
							<a href="__URL__/cart" tppabs="http://www.123kg.cn/member/cart/cartlist" target="_blank"><i
								class="f-cart-icon"></i>购物车<span id="sCartTotal">0</span></a>
						</div>
						<div class="nav-cart-con">
							<div class="m-loading-2014">
								<em></em>
							</div>
							<div class="nav-car-cartEmpty">
								<i></i>您的购物车为空 !
							</div>
							<div class="nav-cart-select"></div>
							<div class="nav-cart-pay"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
 <!--所有商品下拉特效-->
   <script language="javascript" type="text/javascript">
     var Base = { head: document.getElementsByTagName("head")[0] || document.documentElement, Myload: function (B, A) { this.done = false; B.onload = B.onreadystatechange = function () { if (!this.done && (!this.readyState || this.readyState === "loaded" || this.readyState === "complete")) { this.done = true; A(); B.onload = B.onreadystatechange = null; if (this.head && B.parentNode) { this.head.removeChild(B) } } } }, getScript: function (A, C) { var B = function () { }; if (C != undefined) { B = C } var D = document.createElement("script"); D.setAttribute("language", "javascript"); D.setAttribute("type", "text/javascript"); D.setAttribute("src", A); this.head.appendChild(D); this.Myload(D, B) }, getStyle: function (A, CB) { var B = function () { }; if (CB != undefined) { B = CB } var C = document.createElement("link"); C.setAttribute("type", "text/css"); C.setAttribute("rel", "stylesheet"); C.setAttribute("href", A); this.head.appendChild(C); this.Myload(C, B) } }
     function GetVerNum() { var D = new Date(); return D.getFullYear().toString().substring(2, 4) + '.' + (D.getMonth() + 1) + '.' + D.getDate() + '.' + D.getHours() + '.' + (D.getMinutes() < 10 ? '0' : D.getMinutes().toString().substring(0, 1)) }
     Base.getScript('/statics/templates/yungoucms/js/Bottom2.js?v=' + GetVerNum());
 </script>
	<script>
		$(document).ready(function(){
				$("#divGoodsSortList").hover(function() {
				$(this).addClass("U-goods-hover").children("div.U-goods-class").show().prev().find("b").addClass("b_Triangle")
				},function() {
					$(this).removeClass("U-goods-hover").children("div.U-goods-class").hide().prev().find("b").removeClass("b_Triangle")
				}
				).find("dl").each(function() {
					$(this).hover(function() {
					$(this).addClass("U-list-hover")
				},function() {
					$(this).removeClass("U-list-hover")
				}
			)});

		   $('#divGoodsSort').hover(function(){
		       $('.pullDownList').show();
	       },function(){
		       $('.pullDownList').hide();
	       })

		});
	</script>
	<script>
$(function(){
	$("#sCart,#liTopCart").hover(
		function(){
			$("#sCartlist,#sCartLoading").show();
			$("#sCartlist p,#sCartlist h3").hide();
			$("#sCart .mycartcur").remove();
			$("#sCartTotal2").html("");
			$("#sCartTotalM").html("");
			$.getJSON("http://www.123kg.cn/member/cart/cartheader/="+ new Date().getTime(),function(data){
				$("#sCart .mycartcur").remove();
				$("#sCartLoading").before(data.li);
				$("#sCartTotal2").html(data.num);
				$("#sCartTotalM").html(data.sum);
				$("#sCartLoading").hide();
				$("#sCartlist p,#sCartlist h3").show();
			});
		},
		function(){
			$("#sCartlist").hide();
		}
	);
	$("#sGotoCart").click(function(){
		window.location.href="member/cart/cartlist.htm"/*tpa=http://www.123kg.cn/member/cart/cartlist*/;
	});
})
function delheader(id){
	var Cartlist = $.cookie('Cartlist');
	var info = $.evalJSON(Cartlist);
	var num=$("#sCartTotal2").html()-1;
	var sum=$("#sCartTotalM").html();
	info['MoenyCount'] = sum-info[id]['money']*info[id]['num'];
	delete info[id];
	//$.cookie('Cartlist','',{path:'/'});
	$.cookie('Cartlist',$.toJSON(info),{expires:30,path:'/'});
	$("#sCartTotalM").html(info['MoenyCount']);
	$('#sCartTotal2').html(num);
	$('#sCartTotal').text(num);
	$('#btnMyCart em').text(num);
	$("#mycartcur"+id).remove();
}
$(function(){
	$(".M-my-1yyg").mouseover(function(){
		$(this).addClass("menu-hd-hover");
	});
	$(".M-shop").mouseover(function(){
		$(this).addClass("menu-hd-hover");
	});
	$(".M-my-1yyg").mouseout(function(){
		$(this).removeClass("menu-hd-hover");
	});
	$(".M-shop").mouseout(function(){
		$(this).removeClass("menu-hd-hover");
	});
});
$(function(){
	$("#txtSearch").focus(function(){
		$("#txtSearch").css({background:"#FFFFCC"});
		var va1=$("#txtSearch").val();
		if(va1=='输入“汽车”试试'){
			$("#txtSearch").val("");
		}
	});
	$("#txtSearch").blur(function(){
		$("#txtSearch").css({background:"#FFF"});
		var va2=$("#txtSearch").val();
		if(va2==""){
			$("#txtSearch").val('输入“汽车”试试');
		}
	});
	$("#butSearch").click(function(){
		window.location.href="s_tag/index.htm"/*tpa=http://www.123kg.cn/s_tag/*/+$("#txtSearch").val();
	});
});
var getAllNum = function(){
	var a = $("#spBuyCount");
	var b = a.text();
	$.ajax({
		url: "api/wrenciajax/get.htm"/*tpa=http://www.123kg.cn/api/wrenciajax/get*/,
		type:"POST",
		success: function(data){
			if(b == data){
			}else{
				a.css({
					color:"white",background:"red"
				}).html(data);
				a.animate({
					opacity:0.1
				},{
					queue:false,duration:1000,complete:function(){
						a.show().css({
							color:"#22AAFF",background:"#F5F5F5",opacity:1
						})
					}
				})
			}
		}
	});
	//setTimeout(getAllNum,3000);
};
getAllNum();
</script>
<!--end所有商品下拉特效-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/statics/templates/yungoucms/css/Home.css-date=20140731.css" tppabs="http://www.123kg.cn/statics/templates/yungoucms/css/Home.css?date=20140731">    <link href="__PUBLIC__/statics/templates/yungoucms/css/loginmain.css" tppabs="http://www.123kg.cn/statics/templates/yungoucms/css/loginmain.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/statics/templates/yungoucms/js/style.css" tppabs="http://www.123kg.cn/statics/templates/yungoucms/js/style.css" rel="stylesheet" type="text/css"/>

    <link href="__PUBLIC__/statics/templates/yungoucms/css/fenxiao/validform.min.css" tppabs="http://www.123kg.cn/statics/templates/yungoucms/css/fenxiao/validform.min.css"
          rel="stylesheet" type="text/css"/>
    <style type="text/css">
        .Validform_checktip {
            display: block !important;
            margin-top: 5px;
            height: 20px;
            line-height: 20px !important;
        }

        .passwordStrength b {
            font-weight: normal;
        }

        .passwordStrength b, .passwordStrength span {
            display: inline-block;
            vertical-align: middle;
            line-height: 16px;
            line-height: 18px \9;
            height: 16px;
        }

        .passwordStrength span {
            width: 45px;
            text-align: center;
            background-color: #d0d0d0;
            border-right: 1px solid #fff;
        }

        .passwordStrength .last {
            border-right: none;
        }

        .passwordStrength .bgStrength {
            color: #fff;
            background-color: #71b83d;
        }
    </style>

</head>
<body>
<div class="login_layout">
    <!-- 注册进度 -->
    <div class="login_box">
        <div class="login_title">
            <h2>新用户注册</h2>
            <ul class="login_process">
                <li class="login_processCur"><b>1</b>填写注册信息</li>
                <li class="login_arrow"></li>
                <li><b>2</b>验证邮箱/验证手机</li>
                <li class="login_arrow"></li>
                <li><b>3</b>完成注册</li>
            </ul>
            <span>已经是会员？<a id="hylinkLoginPage" class="blue Fb"
                           href="http://bad_redirect" >登录</a></span>
        </div>
    </div>


    <div class="login_ConInput">
        <div class="login_img">
            <img src="__PUBLIC__/statics/templates/yungoucms/images/left-bg.png" tppabs="http://www.123kg.cn/statics/templates/yungoucms/images/left-bg.png">
        </div>
        <!-- 注册表单 -->
        <div class="login_from">
            <form id="form-01" class="demoform" method="post" action="__URL__/zhu_ver">
                <ul>
                    <li>
                        <label>用户名:</label>

                        <div>
                            <!-- <input type='text' id="mobile" tabindex="1" datatype="m" sucmsg="帐号验证通过！" nullmsg="请填写帐号！"
                                   ajaxurl="http://www.123kg.cn/member/user/check" errormsg="手机号格式错误！！" name="name"
                                   class="inputxt"> -->
							<input type='text' name='user_name'>
                        </div>
                    </li>
                    <li>
                        <label>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码:</label>

                        <div class="passWord">
                            <input tabindex="1" id="userpassword" datatype="*6-20" plugin="passwordStrength"
                                   nullmsg="请设置密码！" sucmsg="密码验证通过！" errormsg="密码范围在6~20位之间！" type="password"
                                   name="userpassword" class="inputxt" maxlength="20"/>

                            <div class="passwordStrength" style="margin-top: 11px;margin-left: 10px;">密码强度：
                                <span>弱</span><span>中</span><span class="last">强</span></div>
                        </div>
                    </li>
                    <li><label>确认密码:</label><input id="angainpassword" tabindex="1" datatype="*" recheck="userpassword"
                                                   nullmsg="请再输入一次密码！" errormsg="您两次输入的账号密码不一致！" type="password"
                                                   name="userpassword2" class="inputxt" maxlength="20"></li>
                    <li><label>验&nbsp;&nbsp;证&nbsp;&nbsp;码:</label><!-- <input type='text' tabindex="1"
                                                                          style="position: relative" name="code"><span
                            id="span_code"><img
                            style="position: absolute;width: 80px;
    height: 40px;margin-left: 15px;" alt="验证码"
                            src="api/checkcode/image/53_27/index.htm.png" tppabs="http://www.123kg.cn/api/checkcode/image/53_27/" class="code_img"
                            id="codeImg" onclick="this.src=this.src+'?'"></span> -->
							
					<input class="code l" type="text" style="position: absolute;" name="code">		
					<img src="__URL__/verify" style="position: relative;width: 80px;
    height: 40px;margin-left:178px;float: left;" id="verify" onclick="this.src='__URL__/verify/'+Math.random()">
						
							</li>
                </ul>
                <div id="btn">
                    <input type="checkbox" id="read"/>

                    <p style="width: 100%;">&nbsp;我已阅读并同意<a href="help/3.html" tppabs="http://www.123kg.cn/help/3.html">《123快购服务协议》</a></p>
                    <button id="report" name="report">立即注册</button>
                    <input type="hidden" name="param" id="param" value=""/>

                    <dl>
                        <dd>使用合作网站账号登录</dd>
                        </br>


                    </dl>
                    <div style="text-align:center;margin-top: -10px;cursor:pointer; ">
                                                                        <span class="qq"></span>
                        
                    </div>
                </div>
            </form>
        </div>
</body>
<script type="text/javascript"
        src="../validform.rjboy.cn/wp-content/themes/validform/js/jquery-1.6.2.min.js" tppabs="http://validform.rjboy.cn/wp-content/themes/validform/js/jquery-1.6.2.min.js"></script>
<!-- <script type="text/javascript" src="http://www.123kg.cn/statics/templates/yungoucms/js/jquery.Validform.min.js"></script> -->
<script type="text/javascript" src="__PUBLIC__/statics/templates/yungoucms/js/jquery.Validform.min.js" tppabs="http://www.123kg.cn/statics/templates/yungoucms/js/jquery.Validform.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/statics/templates/yungoucms/js/passwordStrength-min.js" tppabs="http://www.123kg.cn/statics/templates/yungoucms/js/passwordStrength-min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#userpassword").keyup(function () {
            if ($(this).siblings(".Validform_checktip").hasClass("Validform_right")) {
                $(this).siblings(".Validform_checktip").text("通过验证!");
            }
        });
        $("#userpassword").mouseup(function () {
            if ($(this).siblings(".Validform_checktip").hasClass("Validform_right")) {
                $(this).siblings(".Validform_checktip").text("通过验证!");
            }
        });
        $("#userpassword,#angainpassword,#mobile").blur(function () {
            if ($("#userpassword").siblings(".Validform_checktip").hasClass("Validform_right")) {
                $("#userpassword").siblings(".Validform_checktip").text("通过验证!");
            }
        });
        $("#userpassword,#angainpassword,#mobile").mouseleave(function () {
            if ($("#userpassword").siblings(".Validform_checktip").hasClass("Validform_right")) {
                $("#userpassword").siblings(".Validform_checktip").text("通过验证!");
            }
        });
        $('#angainpassword,#userpassword,#mobile').mousedown(function () {
            if ($("#userpassword").siblings(".Validform_checktip").hasClass("Validform_right")) {
                $("#userpassword").siblings(".Validform_checktip").text("通过验证!");
            }
        });
    });

</script>
<script type="text/javascript">
    $(function () {
        $('#report').attr('disabled', true);
        //#93939F
        $('#report').html('请完善资料');
        $('#report').css('background-color', '#93939F');

    });
    $('.qq').click(function () {
        window.location = "http://bad_redirect";
    });
    $('.demoform').Validform({
        tiptype: 3,
        usePlugin: {
            passwordstrength: {
                minLen: 6,
                maxLen: 18
            }
        }
    });
    $('#report').click(function () {
        $('#param').val('submit_send');
        $('.demoform').submit();
    });
    $('#read').click(function () {
        if ($(this).attr('checked')) {
            $('#report').attr('disabled', false);
            $('#report').html('立即注册');
            $('#report').css({'background-color': '#db3650', 'cursor': 'pointer'});
        }
        else {
            $('#report').attr('disabled', true);
            $('#report').html('请完善资料');
            $('#report').css({'background-color': '#93939F', 'cursor': 'default'});
        }
    });
</script>

</html>